<%-include ('../partials/header')%>
<main class = 'container'>
    <%for(let cluck of clucks){%>

        <div class ="card mb-4">
            <div class="card-body bd-dark">
                <img class="card-thumbnail d-flex"src ="https://thumbs.dreamstime.com/b/chicken-hat-cartoon-little-yellow-red-bow-38158332.jpg"
                        alt="chicken avatar" width="40px" height="40px">
                <div class="card-title d-flex justify-content-center">    
                        <h6><%=cluck.username%>  @ <%= new Date(cluck.created_at).toLocaleString() %>ago</h6>
                </div>
                    <div class="d-flex justify-content-center" >
                        <p class="card-text" > <%=cluck.content%> </p>
                        <img class="img-fluid"src="<%=cluck.image_url%>" width="100px" height="100px">
                    </div>
            </div>
        </div>
 
       
<%}%>
</main>
<%-include ('../partials/footer')%>